@import "../../../tools/variables";

.plan-card {
  display: flex;
  background: $white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $light-gray;
  align-items: center;
  height: 75px;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    border: 2px solid $pastel-blue;
    background-color: $magnolia;
  }

  .plan-icon {
    margin-right: 10px;
  }
  .plan-title {
    color: $marine-blue;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .plan-text {
    font-size: 12px;
    color: $cool-gray;
  }
}
.selected-plan {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  background-color: $magnolia;
  border-radius: 5px;
}
.button-switch {
  margin: 0 20px;
}
.yearly-offer {
  color: $marine-blue;
  font-size: 12px;
}

.not-selected {
  color: $light-gray;
  font-weight: 700;
}
.choice {
  color: $marine-blue;
  font-weight: 700;
}
